*.class

*.log

.mtj.tmp/

*.ctxt

*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.iws
*.iml
*.ipr

mvnw
mvnw.cmd

hs_err_pid*

log/*
/log/
bin/*
/bin/
target/*
/target/

/nbproject/private/
nbproject/private/*
build/*
/build/
nbbuild/*
/nbbuild/
dist/*
/dist/
nbdist/*
/nbdist/
.nb-gradle/*
/.nb-gradle/

/.idea/
.idea/*
/.idea/libraries/
.idea/libraries/*
/.mvn/
.mvn/*
/.settings/
.settings/*